.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #212529;
}

.breadcrumb {
    background-color: white;
}

.breadcrumb a {
    color: #212529;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
