.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #212529;
}

.breadcrumb {
    background-color: white;
}

.breadcrumb a {
    color: #212529;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#chatContainer {
    float:right;
    height: 250px;
    width:250px; 
    padding:3px; 
    background:#f00;
}

.content {
    height:224px;
    overflow:auto;
    background:#fff;
}